*{
    font-family: 'DynaPuff', cursive;
}
body{
    background-color: #212529 !important;
}
header, main {
    width: 90vw;
    margin: auto;
  
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-social{
  width: -moz-available;
}
.carousel-item #img1{
    display: block !important;;
}
.carousel-item #img2{
    display: none !important;;
}
.carousel-item img{
    opacity: .5;
    position: relative;
    /* position: relative;
  text-align: center;
  color: white; */
}
.carousel-item h1{
    position: absolute;
    top: 44%;
    left: 50%;
    text-align: center;
    width:400px;
    color: aliceblue;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
}
.carousel-item span{
    position: absolute;
    top: 58%;
    left: 50%;
    text-align: center;
    width:400px;
    color: aliceblue;
    font-family: sans-serif;
    transform: translate(-50%, -50%);
}
.carousel-item span::before, .carousel-item span::after{
    background-color: aliceblue;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
    color: aliceblue;
}
.about-us{
    display: flex;
    align-items: center;
    padding: 3rem;
    width: 100%;
}
.about-us img{
    max-width: 42vw;
}
.our-story{
    background-image:url('./assets/R_graphic_element.svg') ;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: inherit; */
    align-self: flex-end;
    padding: inherit;
}
.our-story h1{
    color: #685940;
    font-family: sans-serif;
    font-weight: lighter;
}
.our-story p{
    color: aliceblue;
    font-family: sans-serif;
    font-weight: lighter;
}
@media screen and(min-width:678px) and (max-width: 1023px) {
  .nav-centered-data {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .nav-centered-data {
    display: none;
  }
  .nav-social {
    display: none;
  }
  .carousel-item #img1 {display: none !important;;}
  .carousel-item #img2 {display: block !important;;}
  .carousel-item h1 {font-size:inherit}
  .carousel-item span {font-size:small}
  .about-us{flex-direction: column-reverse;
    padding: 3rem 0px;}
  .about-us img {
    max-width: 100%;
}
.our-story{padding: 5rem 0px;}
}